<%- include('header') %>
  <h2>Nova Vaga | <a href="/admin/vagas">Vagas</a></h2>
  <div>
    <form action="" method="POST">
      <fieldset>
        <div class="form-group">
            <label for="titulo">Titulo</label>
            <input id="titulo" class="form-control" type="text" name="titulo">
        </div>
        <div class="form-group">
          <label for="descricao">Descrição</label>
          <textarea id="descricao" class="form-control" rows="3" name="descricao"></textarea>
        </div>
        <div class="form-group">
          <label for="categoria">Categoria</label>
          <select id="categoria" class="form-control" name="categoria">
            <% categorias.forEach(function(categoria) { %>
              <option value="<%- categoria.id %>"><%= categoria.categoria %></option>
            <% }); %>
          </select>
        </div>
        <button class="btn btn-primary">Salvar vaga</button>
      </fieldset>
    </form>
  </div>
<%- include("footer") %>